<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="ng-binding"></h1>

            <form role="form" name="form" ng-submit="saveItem()" novalidate=""
                  class="ng-pristine ng-invalid ng-invalid-required">
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="first_nameInput" class="ng-binding">First_name</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input name="first_nameInput"
                               ng-model="member.first_name"
                               class="form-control"
                               placeholder="Enter First_name"/>
                        <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="middle_nameInput" class="ng-binding">Middle_name</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input name="middle_nameInput"
                               ng-model="member.middle_name"
                               class="form-control"
                               placeholder="Enter Middle_name"/>
                        <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="last_nameInput" class="ng-binding">Last_name</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input name="last_nameInput"
                               ng-model="member.last_name"
                               class="form-control"
                               placeholder="Enter Last_name"/>
                        <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="bureauInput" class="ng-binding">Bureau</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <select name="bureauInput"
                                ng-model="member.bureau"
                                class="form-control"
                                ng-options="item._id as item.name for item in bureauList"></select>
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="salaryInput" class="ng-binding">Salary</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input name="salaryInput"
                               ng-model="member.salary"
                               class="form-control"
                               placeholder="Enter Salary"/>
                        <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="fixed_depositInput" class="ng-binding">Fixed_deposit</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input name="fixed_depositInput"
                               ng-model="member.fixed_deposit"
                               class="form-control"
                               placeholder="Enter Fixed_deposit"/>
                        <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="savings_depositInput" class="ng-binding">Savings_deposit</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input name="savings_depositInput"
                               ng-model="member.savings_deposit"
                               class="form-control"
                               placeholder="Enter Savings_deposit"/>
                        <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="join_dateInput" class="ng-binding">Join_date</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <input type="date"
                               name="join_dateInput"
                               ng-model="member.join_date"
                               class="form-control"
                               placeholder="Enter Join_date"/>
                        
                    </div>
                </div>
                

                <div class="row">
                    <div class="form-group col-xs-6 col-md-4">
                        <label for="loanInput" class="ng-binding">Loan</label>
                        <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->
                        
                        <select name="loanInput"
                                ng-model="member.loan"
                                class="form-control"
                                ng-options="item._id as item.name for item in loanList"></select>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$error.required"
                                disabled="disabled"><span class="ng-binding">Save</span> <span
                                class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
